body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#score-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

#score-container div {
    text-align: center;
}

#scoreX,
#scoreO,
#scoreDraws {
    font-size: 1.5em;
    font-weight: bold;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

#resetButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #45a049;
}